/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #1E2D3B;
}


/* UTILITIES */

.c_text_grey {
    color: #7B7F80;
}


/* HEADER */

.Upbarr {
    height: 100px;
    background-color: #2E3A46;
    display: flex;
}

.Upbarr img {
    width: 70px;
    margin-left: 10px;
}


/* MAIN */

.card {
    background-color: #2E3A46;
    height: 380px;
}

.card img {
    padding: 20px;
    height: 200px
}